// api_error.pug
// This page renders when there is an error retrieving API data

html
  head
    title oops...

  body
    h1 Something went wrong:
    h3 Couldn't communicate with the API. This is most likely caused by the
     | server's address changing, but may be caused by networking/firewalling
     | issues.
