// parsing_error.pug
// This page renders when there is an error whilst parsing API

html
  head
    title oops...

  body
    h1 Something went wrong:
    h3 The server's response could not be parsed. This is probably the
     | programmer's fault (sorry) but could be caused by server-side changes.
